/* _base.scss Document */

body {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size : 14px;
	color: #666;
	line-height: 1.5em;
	background-color: #f4f4f4;
}

#container{
	width: 960px;
	margin: 20px auto;
	overflow: auto;
	border: 1px solid #ccc;

	@include border-radius(20px);
}

#main {
	min-height: 200px;
}
